<p id="notice"><%= notice %></p>

<h1>Listing Alumnos</h1>

<table>
  <thead>
    <tr>
      <th>Matricula</th>
      <th>Nombre</th>
      <th>Apellido p</th>
      <th>Apellido m</th>
      <th>Edad</th>
      <th>Fecha ingreso</th>
      <th>Password</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @alumnos.each do |alumno| %>
      <tr>
        <td><%= alumno.matricula %></td>
        <td><%= alumno.nombre %></td>
        <td><%= alumno.apellido_p %></td>
        <td><%= alumno.apellido_m %></td>
        <td><%= alumno.edad %></td>
        <td><%= alumno.fecha_ingreso %></td>
        <td><%= alumno.password %></td>
        <td><%= link_to 'Show', alumno %></td>
        <td><%= link_to 'Edit', edit_alumno_path(alumno) %></td>
        <td><%= link_to 'Destroy', alumno, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Alumno', new_alumno_path %>
